name: Prod to Dev Nightly

on:
  schedule:
    # This triggers at 05:00 UTC (12:00 AM EST)
    - cron: '0 5 * * *'
  workflow_dispatch: 

jobs:
  sync_looker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2' 

      - name: Install Gazer
        run: gem install gazer

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install looker-deployer
        run: |
          pip install looker-deployer

      - name: Create looker.ini
        # This creates the config file in the current directory on the VM and pulls from secrets
        run: |
          cat <<EOT > looker.ini
          [dev]
          base_url=${{ secrets.DEV_BASE_URL }}
          client_id=${{ secrets.DEV_CLIENT_ID }}
          client_secret=${{ secrets.DEV_CLIENT_SECRET }}
          verify_ssl=True

          [prod]
          base_url=${{ secrets.PROD_BASE_URL }}
          client_id=${{ secrets.PROD_CLIENT_ID }}
          client_secret=${{ secrets.PROD_CLIENT_SECRET }}
          verify_ssl=True
          EOT

      - name: Sync Content
      # This use Ldeploy to first export the current state of dev and prod, then overwrite the dashboards in dev with the latest changes from prod
        run: |
          # export the state of the folder and dashboards from prod
          ldeploy content export --env prod --folders 15 --local-target ./prod

          # export the state of the folder and dashboards from dev
          ldeploy content export --env dev --folders 14 --local-target ./dev

          # import and overwrite the changes made from prod Looker to the dev Looker
          ldeploy content import --env dev --folders "./prod/Shared/Data Security: Shared Folder For All" --recursive --target-folder "Shared/Data Security: Shared Folder For All"


      - name: Commit and Push changes
        run: |
          # Configure the "user" so GitHub knows who is committing
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          
          # commit the JSON file representations of the prod and dev folders and dashboards to git so we have version control
          git add ./prod
          git add ./dev
          
          # Only commit if there are actually changes to avoid errors
          if git diff --quiet && git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "Automated Looker backup: $(date +'%Y-%m-%d %H:%M:%S')"
            git push
          fi

